@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-image: url(../public/icons/arrow.svg);
  border-radius: 50%;
  border: 1px solid white !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 56px !important;
  width: 56px !important;
  top: 8% !important;
}
.swiper-button-prev {
  left: unset !important;
  right: 200px !important;
}
.swiper-button-next {
  left: unset !important;
  right: 100px !important;
}

.swiper-button-next {
  rotate: 180deg !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next {
  position: absolute;
  right: 10%;
  top: 50%;
  z-index: 20 !important;
}
.swiper-button-prev {
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 20 !important;
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 12 !important;
    height: 40px !important;
    width: 40px !important;
  }
  .swiper-button-next {
    right: 0% !important;
  }
  .swiper-button-prev {
    right: 25% !important;
  }
}

